.cardBox {
  position: relative;
  width: 250px;
  height: 300px;
  display: inline-block;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

#box1 .front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #0abde3;
}

#box1 .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fff234;
  color: #333;
  transform: rotateY(180deg);
}

@media screen and (min-width: 1440px) {
  .card:hover {
    transform: rotateY(180deg);
  }
}

#box2 .front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #e74c3c;
}

#box2 .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #8e44ad;
  color: #333;
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}
